@import 'src/styles/global';

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-primary-1);
	color: var(--color-secondary-1);
	font-family: Helvetica, serif;
	overflow: hidden;
	cursor: default;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0.7rem;
}

::-webkit-scrollbar-track {
	background-color: var(--color-secondary-5);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-secondary-2);
	border-radius: 0.3rem;
	border: 0.15rem solid var(--color-secondary-5);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-secondary-1);
}
