$color-primary-7: #797979;
$color-primary-6: #6a6a6a;
$color-primary-5: #5b5b5b;
$color-primary-4: #4c4c4c;
$color-primary-3: #3d3d3d;
$color-primary-2: #2e2e2e;
$color-primary-1: #1f1f1f;
$color-secondary-1: #f1f1f1;
$color-secondary-2: #e2e2e2;
$color-secondary-3: #d3d3d3;
$color-secondary-4: #c4c4c4;
$color-secondary-5: #b5b5b5;
$color-secondary-6: #a6a6a6;
