.circle {
	width: 1rem;
	height: 1rem;
	border: 0.1rem solid $color-black-6;
	border-radius: 50%;
}

.circle-defined,
.circle-assigned {
	background-color: cornflowerblue;
}

.circle-inprogress,
.circle-in_progress {
	background-color: gold;
}

.circle-unstable {
	background-color: darkorange;
}

.circle-failure {
	background-color: red;
}

.circle-success {
	background-color: green;
}

.circle-default {
	background-color: transparent;
}
