@import 'src/styles/global';
@import 'src/styles/status';
@import 'src/styles/wrapText';

.pipeline-page {
	.pipeline-title {
		:global(.card) {
			margin: 0.5rem;
			height: 3rem;
		}

		.pipeline-card-status {
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: center;
			gap: 1rem;
			height: 3rem;
			padding-left: 1rem;

			div:nth-child(1) {
				font-size: 2rem;
				font-weight: bold;
			}

			div:nth-child(3) {
				font-size: 1.4rem;
			}
		}
	}

	.pipeline-stages {
		:global(.card) {
			margin: 1rem 0.5rem 0.5rem;
			padding: 0;
			height: calc(100vh - 10rem);
		}

		.tabs {
			display: flex;
			flex-direction: row;
			align-items: center;

			height: 3rem;
			box-shadow: 0 -0.03rem 0 var(--color-secondary-2) inset;
			overflow-x: scroll;
			overflow-y: hidden;

			.stage {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				gap: 1rem;
				width: 10rem;
				line-height: 1.8rem;
				box-sizing: border-box;
				background: none;
				border: none;
				color: var(--color-secondary-2);
				font-size: 1rem;

				&:not(:last-child) {
					border-right: 0.03rem var(--color-secondary-2) solid;
				}

				&:hover {
					background-color: var(--color-primary-3);
				}

				&:active {
					background-color: var(--color-primary-5);
				}

				&.selected {
					background-color: var(--color-primary-6);
				}

				div:last-child {
					width: 1rem;
				}
			}
		}

		.logs {
			height: calc(100vh - 14rem);
			padding: 0.5rem;
			line-height: 1.4rem;
			background-color: var(--color-primary-2);
			overflow: auto;
			user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			-webkit-user-select: text;
		}
	}
}
