@import 'src/styles/global';
@import 'src/styles/status';
@import 'src/styles/wrapText';

:global(.pipeline-card-wrapper) {
	height: 3rem;
}

.pipeline-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 3rem;
	gap: 1rem;
	margin-left: 1rem;
	margin-right: 0.5rem;

	.pipeline-card-status {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.3rem;
	}

	.pipeline-card-meta {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		gap: 1rem;

		div {
			a {
				padding: 0.5rem;
				border: 0.1rem var(--color-secondary-2) solid;
				border-radius: 0.5rem;
				cursor: pointer;
				text-decoration: none;
				color: var(--color-secondary-2);
			}
		}
	}
}
