@import 'src/styles/global';

.container {
	width: 100vw;
	height: calc(100vh - 4rem);
	display: grid;
	grid-template-columns: 3fr 4fr;

	.logo,
	.form {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.logo {
		background-color: var(--color-primary-2);
	}

	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.title {
			font-size: 2rem;
			font-weight: bold;
		}

		input,
		button {
			box-sizing: border-box;
			margin-top: 1.5rem;
			width: 20rem;
			padding: 0.8rem;
			background-color: var(--color-primary-1);
			color: var(--color-secondary-2);
			font-size: 1rem;
			border: 0.05rem var(--color-secondary-2) solid;
			border-radius: 2rem;
		}

		button {
			background-color: var(--color-primary-3);
			cursor: pointer;
		}

		button:hover {
			background-color: var(--color-primary-5);
		}

		button:active {
			background-color: var(--color-primary-7);
		}

		.login-signup-switch {
			margin-top: 1rem;

			a {
				color: var(--color-secondary-3);
			}
		}
	}
}
