@import "variables";

.page-error {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "3270 Nerd Font Mono", sans-serif;

    .error-code {
        font-size: 24rem;
    }

    .error-message {
        font-size: 4rem;
    }

    .back-home {
        margin-top: 1rem;
        font-size: 2rem;
        text-decoration: none;
        color: $primaryColor;
    }
}
