@font-face {
  font-family: '3270 Nerd Font Mono';
  src: url('/static/fonts/3270NerdFontMono-Regular.woff') format('woff');
  src: url('/static/fonts/3270NerdFontMono-Regular.woff2') format('woffw');
  font-weight: normal; font-style: normal;
}