@import "variables";

.header {
  display: flex;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: $full;
  background-color: $backgroundColor;

  image {
    justify-items: center;
  }

  .title {
    display: inline-flex;
    color: $primaryColor;
    font-size: 3rem;
    font-family: "3270 Nerd Font Mono", sans-serif;
    justify-items: center;
    margin-left: 2rem;
    text-decoration: none;
  }

  box-shadow: 0 0 0 0.05rem $primaryColor;
}
