@import "variables";

.page-home {
    .container {
        .row {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }

    .app-name {
        font-size: 7rem;
        font-family: "3270 Nerd Font Mono", sans-serif;
        margin-left: 2rem;
    }

    .app-link {
        font-size: 2rem;
        text-decoration: underline!important;
        padding: 0 $gridGap;

        &:not(:last-child) {
            border-right: $primaryColor 0.1rem solid;
        }
    }
}
