@import "variables";

.modal {
  z-index: 9999;
  position: absolute;
  top: 6rem;
  bottom: 0.5rem;
  left: 1rem;
  right: 1rem;
  height: calc(100vh - 7rem);

  background: $backgroundColor;
  border: $primaryColor solid 0.3rem;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 0 0.05rem $primaryColor;

    .errors {
      font-size: 1.4rem;
      padding: 0.2rem 0.2rem 0.2rem 2rem;

      .error {
        color: red;
      }
    }
  }

  .content {
    height: calc(100vh - 18rem);
    max-height: calc(100vh - 18rem);
    padding: 2rem;
    overflow-y: auto;

    .form-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .form-row {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      width: 80%;

      input {
        font-size: 1.2rem;
        padding: 0.3rem;
      }

      textarea {
        font-size: 1rem;
        width: 100%;
        resize: none;
      }

      textarea.editing {
        height: calc(100vh - 23rem);
        overflow: auto;
        white-space: nowrap;
      }

      input, textarea {
        color: $primaryColor;
        background-color: $backgroundLighter;
        border: none;
        border-bottom: $primaryColor solid 0.1rem;

        &:active, &:focus {
          outline: none;
          box-shadow: none;
          border: none;
          border-bottom: $primaryColor solid 0.1rem;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active  {
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: $primaryColor !important;
          background-color: $backgroundColor !important;
          box-shadow: none;
          border: none;
          border-bottom: $primaryColor solid 0.1rem;
        }
      }

      .errors {
        font-size: 1rem;
        padding: 0.2rem;

        .error {
          color: red;
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 2.5rem;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 0 0.05rem $primaryColor;

    .button {
      border: $primaryColor solid 0.1rem;
      border-radius: $borderRadius;
      font-size: 1.4rem;
      padding: 0.3rem;

      &:not(&:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.modal-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s linear;
  transition-delay: 0s;
}

.modal-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition-delay: 0s;
}
