@import "variables";

.page {
    padding: 120px 30px 30px;

    .title {
        font-size: 24px;
    }

    .container {
        display: inline-grid;
        margin-top: 20px;
        width: $full;
        gap: $gridGap;

        .card {
            padding: 15px;
            border: $primaryColor solid 1px;
            border-radius: 5px;
            overflow: hidden;

            .text-field {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .button {
            color: $primaryColor;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.list-page {
    .container {
        grid-template-columns: 1fr 1fr 1fr;

        .button:hover {
            background-color: $buttonBackgroundHover;
        }

        .button:active {
            background-color: $buttonBackgroundActive;
        }
    }
}

.view-page {
    .container {
        grid-template-columns: 1fr 3fr;
    }
}
