@import "variables";

.page {
    height: calc(100vh - 6rem);
    padding: 6rem 2rem 0 2rem;

    .container {
        display: inline-grid;
        margin-top: 2rem;
        width: $full;
        gap: $gridGap;
    }

    .scrollable {
        .card {
            padding: 1rem;
            border: $primaryColor solid 0.1rem;
            border-radius: $borderRadius;

            .text-field {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .row {
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                line-height: 1.1rem;
            }

            .row:nth-child(1) {
                div:nth-child(1) {
                    margin-right: $gridGap;
                }

                div:nth-child(2) {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .row {
                img {
                    margin-right: $gridGap;
                }
            }

            .row:not(:last-child) {
                margin-bottom: $gridGap;
            }
        }
    }

    .title {
        font-size: 1.8rem;
    }
}

.button {
    color: $primaryColor;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: $buttonBackgroundHover;
}

.button:active {
    background-color: $buttonBackgroundActive;
}

.page-list {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.page-view {
    .container {
        grid-template-columns: 1fr 3fr;
    }
}

.scrollable {
    padding: 0 0.5rem;
    overflow-y: auto;
}

.one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
