@import "variables";
@import "fonts";

@import "agents";
@import "errors";
@import "header";
@import "home";
@import "jobs";
@import "modal";
@import "page";
@import "projects";
@import "scroll";

body {
    background-color: $backgroundColor;
    color: $primaryColor;
    cursor: default;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    -webkit-user-drag: none;
}

.bold {
    font-weight: bold;
}

.pd-2-rem {
    padding: 2rem;
}
