$backgroundColor: #1f1f1f;
$backgroundLighter: #2f2f2f;
$buttonBackgroundHover: #2e2e2e;
$buttonBackgroundActive: #3d3d3d;
$primaryColor: #e0e0e0;
$colorInactive: #2f2f2f;
$gridGap: 0.5rem;
$borderRadius: 0.3rem;
$full: 100%;
